redis_resque:
  test: dev.ao3.org:6398
  development: <%= ENV["OTW_REDIS_URL"] %>
  production: redis.ao3.org:6379
redis_kudos:
  test: dev.ao3.org:6398
  development: <%= ENV["OTW_REDIS_URL"] %>
  production: redis.ao3.org:6379
redis_general:
  test: dev.ao3.org:6398
  development: <%= ENV["OTW_REDIS_URL"] %>
  production: redis.ao3.org:6379
redis_rollout:
  test: dev.ao3.org:6398
  development: <%= ENV["OTW_REDIS_URL"] %>
  production: redis.ao3.org:6379
redis_autocomplete:
  test: dev.ao3.org:6398
  development: <%= ENV["OTW_REDIS_URL"] %>
  production: redis.ao3.org:6379
